<nav class="navbar navbar-expand-lg navbar-light bg-light spacebetween">
  <!-- Logo -->
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- Superposition des icônes -->
      <li class="nav-item active p-3" style="position: relative; height: 40px;">
        <!-- Icône de soleil -->
        <i class="fa fa-sun" style="font-size: 40px; color: rgb(172, 162, 162); position: absolute; top: 0; left: 0;"></i>

        <!-- Icône de nuage -->
        <i class="fa fa-cloud" style="font-size: 40px; color: rgb(95, 93, 93); position: absolute; top: 4px; left: 9px;"></i>

        <!-- Icône de goutte d'eau -->
        <i class="fa fa-tint" style="font-size: 30px; color: rgb(176, 176, 184); position: absolute; top: 4px; left: 23px;"></i>
      </li>
    </ul>
  </div>
</nav>
