/* Custom CSS to adjust table cell width */
.table {
  width: 100%; /* Ensure the table takes up the full available width */
  margin-top: 20px;
}

.table th, .table td {
  text-align: center; /* Center the text horizontally */
  vertical-align: middle; /* Vertically center the text */
  padding: 15px; /* Add padding to make the cells more spacious */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.table-cell {
  width: 10%; /* Adjust the width of each cell to make it wider */
}

.table td button {
  white-space: nowrap; /* Prevent button text from wrapping */
}

.btn-info{
  font-size: 10px;
  height: 30px;
  text-align: center;
  
}

.btn-info:hover{
  background-color: rgb(10, 255, 39);
}

/* Make the search input sticky */
.sticky-search {
  position: sticky;
  top: 0; /* Position it at the top of the viewport */
  background-color: white; /* Set a background color to avoid transparency issues */
  z-index: 100; /* Make sure the search bar stays on top of other content */
  padding: 10px 0; /* Optional: add some padding to the top and bottom */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a small shadow for better visibility */
  left: 0;
}














  