<h2>Weather Data</h2>
<div class="row sticky-search">
  <div class="col-4 flex">
    <!-- Bind selectedRegion to the dropdown using ngModel -->
    <select class="form-select" aria-label="Default select example"  (change)="logging($event)">
      <option disabled selected>Select a region</option>
      <option *ngFor="let region of regions" [value]="region.viewValue">{{ region.viewValue }}</option>
    </select>
  </div>
  <div class="col-4 flex">
    <!-- Button to trigger a search action, you can attach a click handler if necessary -->
    <button type="button" (click)="loadWeatherData()" class="btn btn-primary" data-mdb-ripple-init (click)="onSearch()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<P >
  vill : {{ selectedRegion.viewValue }}
</P>

<!-- Table for displaying weather data -->
<div class="weather-table-container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Description</th>
        <th>Temp (°F)</th>
        <th>Wind Speed (mph)</th>
        <th>Wind Direction</th>
        <th>Humidity (%)</th>
        <th>UV Index</th>
        <th>Cloud Cover (%)</th>
        <th>Snow (inches)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weather of dataList">
        <td>{{ weather.datetime }}</td>
        <td>{{ weather.weather.description }}</td>
        <td>{{ weather.temp }} °F</td>
        <td>{{ weather.wind_spd }} mph</td>
        <td>{{ weather.wind_cdir_full }}</td>
        <td>{{ weather.rh }}%</td>
        <td>{{ weather.uv }}</td>
        <td>{{ weather.clouds }}%</td>
        <td>{{ weather.snow }} inches</td>
        <td>
          <button class="btn btn-info"><b>More Info</b></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
