<br>
<br>
<br>
<br>
<br>
<div class="container row sticky-search">
    <div class="col-4 flex">
      <!-- Bind selectedRegion to the dropdown using ngModel -->
       <input type="text" value="weather_data" class="form-control" id="exampleFormControlInput1"   >
       
    </div>
    <div class="col-4 flex">
        <!-- Bind selectedRegion to the dropdown using ngModel -->
        <select class="form-select" aria-label="Default select example"   >
          <option disabled selected>Select the file </option>
          <option  > Excel  </option>
          <option  > CSV  </option>
          <option  > Text </option>
        </select>
      </div>
    <div class="col-4 flex">
      <!-- Button to trigger a search action, you can attach a click handler if necessary -->
      <button type="button"     class="btn btn-light" data-mdb-ripple-init  >
        
        <a href="http://localhost:9090/weather/csv"  ><i class="fa-solid fa-download"></i></a>
      </button>
    </div>
    <P  class="fw-light p-3 fs-3">
 
  
  
      
  
    </P>
  </div>