<app-navebar></app-navebar>

<mat-sidenav-container class="example-container bg-bgcolor">
    <mat-sidenav  #sidenav mode="side" class="sidebar  bg-bgcolor " [(opened)]="showFiller">
        <div class="row">
        <div class="col-12 p-4 m-4  t-center rounder white-smoke">wether data</div>
        <div class="col-12 p-4 m-4  t-center rounder white-smoke">exports</div>
        <div class="col-12 p-4 m-4  t-center rounder white-smoke">statics</div>

        </div>
    </mat-sidenav>
    
    <mat-sidenav-content class=" borders  white-smoke  p-4 shadow white-smoke">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
