/* You can add global styles to this file, and also import other style files */



.bg-colors{
    background-color: #f5f5f5;
}
.justify-content-center{
    justify-content: center;
    align-items: center;
}
html, body { height: 100%; }
body {
    background-color: #8fe3f2;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-bgcolor{
    background-color: #8fe3f2;
}
.white-smoke{
    background-color: whitesmoke;
}
.t-center{
    text-align: center;
}